<head style="text-decoration: none;">
    <title>Bigger-Bazaar</title>
    <!-- <a href="./"><img src="./images/logo.png" class="logo" alt="BIGGER BAZAAR"></a> -->
    <%- include ('./nav.ejs') %>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="icon" href="data:,">
    <link rel="shortcut icon" href="#" />
</head>