<nav>
    <a href="./"><img style="height:50px; width:auto; border:0px; padding:0px;" src="./images/logo.png" class="logo" alt="BIGGER BAZAAR"></a>
    <div class="navigation">
            <a href="/">Home</a>
            <a href="wishlist">Wishlist</a>
            <a href="account">Your account</a>
            <!-- <a href="product">Products</a> -->
            <a href="deals">Deals</a>
            <a href="orders">Orders</a>
            <a href="logout">Logout</a>
    </div>
    <div class="navigation">
        <a href="/register">Sign Up</a>/
        <a href="/Login">Sign In</a>
        
    </div>
</nav>